/*FONT FAMILY*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

/*HEADER / NAVBAR*/

.nav-link {
  color: black !important;
}
.logo {
  width: 250px;
}
.navbar {
  background-color: #4fa4f4;
  height: 100px;
}
.nav-item {
  padding: 30px;
  text-align: center;
}

/*--------------------------------------------------------*/

/*Section hero*/
.carousel-item img {
  width: 100%;
  height: 700px;
  text-align: center;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.116);
  border-radius: 1rem;
}

/*--------------------------------------------------------*/
/*CARD INFO*/
.Card-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 5rem;
  height: 800px;
  width: auto;
}
#card {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-card {
  height: 300px;
  width: 300px;
}

/*--------------------------------------------------------*/

/*section tecnologias*/

.Tecnologias {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: gray;
}

.Tecnologias img {
  width: 100px;
}

.Tecnologias,
.container_tecno {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Tecnologias,
.container_tecno,
h6 {
  padding-top: 10px;
  font-weight: 800;
  font-size: 1.2rem;
}

.tecno_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------*/
