/*FONT FAMILY*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #efefef;
}

/*--------------------------------------------------------*/

/*HEADER / NAVBAR*/

header {
  font-size: 1.5rem;
  /*   background-color: #3454d1;*/
  width: 100%;
  top: 0;
  z-index: 999;
  position: fixed;
}

.navlink,
a {
  color: black !important;
}

.navbar-nav {
  gap: 2rem;
}

/*--------------------------------------------------------*/

.hero {
  margin-top: 10rem;
}

.hero_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
  gap: 20rem;
}

.hero_img {
  width: 700px;
}

.hero_container_izq h1 {
  /*   background-color: red;
 */
  width: 500px;
}

.hero_container_izq_txt {
  font-size: 2rem;
}

/*--------------------------------------------------------*/
/*CARD INFO*/
.cards {
  margin-top: 15rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

/*--------------------------------------------------------*/

/*section tecnologias*/

.Tecnologias {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: gray;
}

.Tecnologias img {
  width: 100px;
}

.Tecnologias,
.container_tecno {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Tecnologias,
.container_tecno,
h6 {
  padding-top: 10px;
  font-weight: 800;
  font-size: 1.2rem;
}

.tecno_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------*/

.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    both;
  animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
