/*FONT FAMILY*/

@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,400;0,500;0,700;1,900&display=swap");

/*PALETA DE COLORES*/

:root {
  --azul: #3454d1;

  --blanco-1: #f8f9fa;
  --blanco-2: #e9ecef;
  --blanco-3: #dee2e6;
  --blanco-4: #ced4da;

  --gris-1: #adb5bd;
  --gris-2: #6c757d;
  --gris-3: #495057;
  --gris-4: #343a40;

  --negro-1: #343a40;
}

/*--------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Chivo", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--blanco-1);
}

::selection {
  background-color: var(--gris-1);
  color: var(--azul);
}

/*--------------------------------------------------------*/

/*HEADER / NAVBAR*/

header {
  font-size: 1.5rem;
  width: 100%;
  top: 0;
  z-index: 999;
  position: fixed;
  font-weight: 700;
  background-color: var(--blanco-2);
}

.navlink,
a {
  color: var(--negro-1) !important;
}

.navlink,
a:hover {
  color: var(--azul) !important;
  transition: 0.2s;
}

.navbar-nav {
  gap: 2rem;
}

/*--------------------------------------------------------*/

/*HERO*/

.hero {
  margin-top: 15rem;
  overflow: hidden;
}

.hero_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 20rem;
}

.hero_container_izq {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero_img {
  width: 700px;
}

.hero_container_izq h1 {
  width: 500px;
}

.hero_container_izq_h1 {
  font-size: 2rem;
}

.hero_container_izq_p {
  font-size: 25px;
}

.hero_buttons {
  display: flex;
  gap: 2rem;
}

.hero_btn_planes {
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.hero_btn_wpp {
  font-size: 20px;
}

.hero_btn_wpp:hover,
.hero_btn_planes:hover {
  background-color: #25d366;
  border-color: #25d366;
  transition: 0.5s;
}

/*--------------------------------------------------------*/

/*ONEPAGE INFO*/

.onepage_info {
  margin-top: 15rem;
  margin-bottom: 5rem;
  background-color: var(--blanco-4);
}

.container_onepage_info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.onepageinfo_h6 {
  font-size: 2rem;
  line-height: 1.2em;
}

.onepageinfo_p {
  font-size: 20px;
}

.onepageinfo_texto {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
}

.onepage_img img {
  width: 700px;
}

/*--------------------------------------------------------*/

/*CARACTERISTICAS*/

.caracteristicas {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.container_caracteristicas {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 5rem;
}

.caracteristicas_fila1,
.caracteristicas_fila2 {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-left: 10%;
  margin-right: 10%;
}

.caracteristicas_h6 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.caracteristicas_p {
  font-size: 20px;
}

.caracteristicas_titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.caracteristicas_h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.caracteristicas_fila_div {
  background-color: white;
  width: 400px;
  height: 600px;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*--------------------------------------------------------*/

/*section tecnologias*/

.Tecnologias {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--blanco-4);
}

.Tecnologias img {
  width: 100px;
}

.Tecnologias,
.container_tecno {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.Tecnologias,
.container_tecno,
h6 {
  padding-top: 10px;
  font-weight: 800;
  font-size: 1.2rem;
}

.tecno_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/*--------------------------------------------------------*/

/*PROYECTOS / PORTFOLIO*/

.Proyectos {
  margin-top: 10rem;
}

.proyectos_fila_div {
  width: 400px;
  height: 450px;
}

/*--------------------------------------------------------*/

/*PLANES / CARDS*/

.Planes {
  margin-top: 10rem;
}

.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}

.text-uppercase {
  letter-spacing: 0.2em;
}
.boton-price {
  color: white !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.boton-price:hover {
  color: white !important;
}
/*--------------------------------------------------------*/

/*CONTACTO*/
.form {
  padding: 5rem;
}

.Contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacto_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact_row_div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.md-form {
  margin-top: 1rem;
}

/*--------------------------------------------------------*/

/*PLANES*/

.planes_titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.planes_h2 {
  font-size: 3rem;
}

/*--------------------------------------------------------*/

/*FOOTER*/

footer {
  margin-top: 2rem;
}

.socialmedia {
  font-size: 2rem;
}
.bi-facebook:hover {
  color: #3b5998;
}
.bi-instagram:hover {
  color: #f09433;
  color: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  color: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.bi-linkedin:hover {
  color: #0e76a8;
}
.footer_div_redes {
  display: flex;
  gap: 1rem;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_copyright_p {
  margin-bottom: 0;
  padding-left: 5px;
  color: var(--azul) !important;
}

/*--------------------------------------------------------*/

/*formulario*/

.formulario__ {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form__ {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 7px;
}

.formulario__ {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulario__contacto {
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

input,
textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border-radius: 7px;
  border: none;
}

.div__text {
  font-size: 20px;
}

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background-color: var(--azul);

  border: none;
  color: black;
  font-weight: 500;
  padding: 20px;
  border-radius: 7px;
  color: white;
}

#boton:hover {
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .form__ {
    width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .form__ {
    width: 320px;
  }
}

@media screen and (max-width: 330px) {
  .form__ {
    width: 200px;
  }
}

/*--------------------------------------------------------*/

.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.aa {
  transition: transform 0.2s ease;
}

.aa:hover {
  transform: scale(1.1);
}
